body {
  font-family: "Inter", sans-serif;
  background-image: url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0px 0px 30px 0px;
}

.header img {
  margin-bottom: 10px;
  max-width: 100%;
}

.container {
  max-width: 550px;
  max-height: 600px;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 1px 1px 20px rgba(117, 117, 117, 0.3);
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario-nome,
.formulario-login,
.formulario-email,
.formulario-senha,
.formulario-botao {
  font-weight: 600;
}

label {
  display: block;
  color: var(--cor-primaria);
}

input {
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: #e4e3e3;
  border-radius: 10px;
  margin: 5px 0px 40px 5px;
  font-family: "Inter", sans-serif;
}

input:focus {
  outline: 0.5px solid #a5a5a5;
}

.formulario-senha input {
  margin-bottom: 10px;
}

.formulario-botao {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 100px;
  margin-top: 25px;
  background-color: var(--cor-primaria);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}