@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap");

:root {
  --cor-primaria: #ea41bb;
  --cor-paragrafos: #141414;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-image: url(./img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.principal img {
  width: 50%;
}

.principal h1 {
  width: 20ch;
  margin-bottom: 20px;
}

.login-cadastro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.principal a {
  color: #fff;
  background-color: var(--cor-primaria);
  padding: 15px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.divisor::before {
  content: "";
  background-color: #b8b7b7;
  position: absolute;
  display: block;
  width: 12em;
  height: 0.062rem;
  right: 250px;
  bottom: 70px;
}

.divisor::after {
  content: "";
  background-color: #b8b7b7;
  position: absolute;
  display: block;
  height: 0.062rem;
  width: 12em;
  left: 250px;
  bottom: 70px;
}

@media (max-width: 500px) {

  .principal h1 {
    font-size: 25px;
  }

  .divisor::before {
    width: 8.5em;
    right: 210px;
  }
  
  .divisor::after {
    width: 8.5em;
    left: 210px;

  }

}
